<!DOCTYPE html>
<html>
    <head>
        <title>ViShare</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <style type="text/css">

body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


</style> 

    <video autoplay muted loop id="myVideo">
        <source src="https://static.videezy.com/system/resources/previews/000/007/313/original/Plexus.mp4" type="video/mp4">
      </video>
    
    <div id="landing-header">
 		<h1>Welcome to ViShare</h1>
		<a href="/home" class="btn btn-lg btn-default">Dive In</a>
    </div>

</body>
</html>